<div class="login">
  <div class="container">
    <div class="form">

      <h1>Log in</h1>
      <%= form_for(:session, url: login_path, html: {id: "session"}) do |f| %> 
  	<%= f.email_field :email, :placeholder => "Email" %><br/>
 	<%= f.password_field :password, :placeholder => "Password" %><br/> 
	<label for="user_type">User Type</label>
        <select id="user_type" name="session[user_type]" form="session">
  	  <option value="0" selected>Customer</option>
  	  <option value="1">Administrator</option>
	</select><br/>
  	<%= f.submit "Log in", class: "btn-submit" %>
      <% end %>

    </div>
  </div>
</div>
