<h1>New Reservation</h1>
<% if notice %>
  <p id="error_explanation"><%= notice %></p>
<% end %>

<%= render 'form' %>
<% if [1,2].include?(session[:user_type])%>
<%= link_to 'Back', reservations_path %>
<% else %>
    <%=link_to 'Back',cars_path %>
<% end %>